# My Jupyter Notebook on IBM Data Science Experience

**Braulio J. Cabral**

Director, Technical Operations Support. Frederick National Laboratory for Cancer Research. Operated by Leidos Biomedical Research, Inc. (a solely subsidiary of Leidos, Inc.)

*I am interested in Data Science because with the available computing power at affortable cost, Data Science is the next step to increase the return on investment of Information Technology. Data Science allows businesses and organizations the opportunity to learn from the vast amount of data accumulated through years, and what we learn will impact everything we do, from biological research, to behavioral science, physics, and engineering.*

***My code takes a temperature input in Fahrenheit and returns its equivalent in Celsius***

In [12]:
Fahrenheit = 65
Celsius = 0

print("The equivalent of {} degrees Fahrenheit is: {} Celsius".format(Fahrenheit, round((Fahrenheit - 32) * (5/9), 2)))

The equivalent of 65 degrees Fahrenheit is: 18.33 Celsius

 ### A horizontal rule below  
 ------------------------------------

### A bulleted list
* List item 1
* List item 2
* List item 3


### A numebered list
1. Numbered list   
2. Numbered list 
3. Numbered list

### A table

| Column 1       | Column 2     | Column 3     |
| :------------- | :----------: | -----------: |
|  Cell 1        | Cell 3       | Cell 5       |
|  Cell 2        | Cell 4       | Cell 6       |

### Hyperlink
My favorite search engine is [Google](https://google.com).


### An image 

The Linux Mascot ![Linux mascot is cool](https://d33wubrfki0l68.cloudfront.net/e7ed9fe4bafe46e275c807d63591f85f9ab246ba/e2d28/assets/images/tux.png)